@mixin display($template,$justify,$align) {
  display: grid;
  grid-template: $template;
  justify-items:$justify;
  align-items: $align;
}
@mixin sizing($width,$height,$margin,$padding){
  width: $width;
  height: $height;
  margin: $margin;
  padding: $padding;
}
:root {
  --backgroundColor: rgba(92,88,88,1);
  --shadowColor: rgba(114, 110, 109, 0.5);
}

body {
  @include display(1fr/1fr,center,center);
}

.calculator {
  @include display(50px 1fr 50px/1fr, center, center);
  @include sizing(300px,450px,3px,3px);
  background-color: var(--backgroundColor);
  border-radius: 4px;
  box-shadow: 0 0 6px 6px var(--shadowColor);
}

.heading, .board,.footer {
  border: 3px solid red;
}