@import url('https://fonts.googleapis.com/css?family=Nova+Square|Share+Tech+Mono&display=swap');
@mixin display($template,$justify,$align) {
  display: grid;
  grid-template: $template;
  justify-items:$justify;
  align-items: $align;
}
@mixin sizing($width,$height,$margin,$padding){
  width: $width;
  height: $height;
  margin: $margin;
  padding: $padding;
}
@mixin fonts($family,$size,$color){
  font-family: $family;
  font-size: $size;
  color: $color;
}
.genericDisplay {
  @include display(1fr/1fr,center,center);
}
.genericSizing {
  @include sizing(100%,100%,3px,3px);
}
:root {
  --backgroundColor: rgba(92,88,88,1);
  --shadowColor: rgba(114, 110, 109, 0.65);
  --headingBlack: rgba(43,27,23,1);
  --borderColor: rgba(12,9,10,1);
  --displayColor: rgba(78,137,117,0.9);
  --keyColor: rgba(253,238,244,1);
  --keyborderColor: rgba(209,208,206,1);
  --eraseKey: rgba(247, 93, 89, 0.9);
  --headingFont: 'Nova Square', cursive;
  --numFont: 'Share Tech Mono', monospace;
}
body {
  @include display(1fr/1fr,center,center);
}
.calculator {
  @include display(50px 1fr 30px/1fr, center, center);
  @include sizing(300px,450px,3px,3px);
  background-color: var(--backgroundColor);
  border-radius: 4px;
  box-shadow: 0 0 6px 6px var(--shadowColor);
}
.heading,.board,.footer {
  @extend .genericDisplay;
  @extend .genericSizing;
}
.heading {
  h1 {
    @include fonts(var(--headingFont),22px,var(--headingBlack));
    text-align:center;
    text-transform: uppercase;
    margin: 0 auto 0 auto;
  }
}
.footer {
  p {
    @include fonts(var(--headingFont),12px,var(--headingBlack));
  }
}
.board {
  @extend .genericDisplay;
  @extend .genericSizing;
}
.userBoard{ 
  @include display(1fr 4fr/1fr, center, center);
  @include sizing(90%,95%,3px,3px);
  border-radius: 15px;
  border: 3px solid var(--borderColor);
}
.numDisplay {
  @include display(auto 15px/1fr, center, center);
  @include sizing(80%, 80%, 2px, 2px);
  border-radius: 15px;
  border: 3px solid var(--borderColor);
  background-color: var(--displayColor);
}
.keyBoard {
  @include display(repeat(5,1fr)/repeat(4,1fr),center,center);
  @include sizing(95%,90%,3px,3px);
}
.key {
  @extend .genericDisplay;
  @include sizing(70%,70%,3px,3px);
  @include fonts(var(--numFont),20px,var(--headingBlack));
  border-radius: 10px;
  border: 2px solid var(--keyborderColor);
  background-color: var(--keyColor);
  box-shadow: 3px 3px var(--shadowColor);
  &:hover {
    cursor: pointer;
    filter: brightness(-25%);
  }
}
.erase {
  background-color: var(--eraseKey);
}
.topDisplay{
  @include display(1fr/1fr,end,center);
  
  @include sizing(90%,90%,2px,2px);
  p{
    margin: auto;
    margin-right: 0;
    line-height: 25px;
    @include fonts(var(--numFont),25px,var(--headingBlack));
  }
}
.bottomDisplay {
  @include display(1fr/1fr,end,center);
  @include sizing(90%,90%,1px,1px);
  p {
    margin: auto;
    margin-right: 0;
    line-height: 10px;
    @include fonts(var(--numFont),10px,var(--headingBlack));
    
  }
}
